body {
  background-image: white;
  font-family: verdana, Helvetica, sans-serif;
  color: #05386B;
}

.wrapper {
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-right: 1px solid #bbb;
  border-bottom: 2px solid blue;
  margin-right: 1px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #05386B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FFF
  color: black
}


.leftside {
  border-right: 2px solid black;
  padding: 20px;
  float: left;
  width: 400px;
  position: absolute;
  top: 300px;
}

.rightside {
  font-size: 22px;
  padding: 20px;
  float: left;
  width: 300px;
  margin-left: 50px;
  position: relative;
  left: 500px;
  bottom: 65px;
}

.upper {
  margin: auto;
  width: 70%;
  padding: 10px;
  position: relative;
  height: 500px;
}

.bottom {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 8px;
  margin-top: 8px;
  background-color: #2992EE;
}
