  .login {
    color:aqua;
  }
  h1 {
    color:#05386B;
  }

  table, th, td {
    border: none;
    border-collapse: collapse;
  }

  body {
    margin:0;
    font-family:Arial;
    background-color: white;
  }

  .wrapper {
    padding: 20px;
  }

  .topnav {
    overflow: hidden;
    background-color: white;
  }

  .box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 8px;
    margin-top: 8px;
    background-image: linear-gradient(to left, rgba(0, 97, 193), rgba(72, 141, 210 ));
    color: white;
    word-wrap: break-word;
  }

  .body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    width: 80%;
    padding: 10px;
    height: 800px;
    background-image: linear-gradient(to left, rgba(0, 97, 193), rgba(72, 141, 210 ));
  }

  .topnav a {
    float: left;
    display: block;
    color: #05386B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav .icon {
    display: none;
  }

  .topnav a:hover {
    background-color: #555;
    color: white;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  .submit {
  background-color: #05386B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
